
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="../static/css/custom.css" rel="stylesheet" />
    
</head>
<body>     
    <div id="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="../media/images/images.png" width='50' height="50" />
                    </a>
                </div>
              
                 <span class="logout-spn" >
                    {% if user.is_authenticated %}
                    Hi {{ user.username  }}
                  <a href="{% url 'logout' %}">/ Logout</a>  
                    {% endif %}
   



                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
            
                    <li >
                        <a href="{% url "create_make" %}">Add Make</a>
                    </li>

                    <li>
                            <a href="{% url "create_model" %}">Add Model</a>
                    </li>
                   
                    <li>
                            <a href="{% url "create_vehicle" %}">Add Vehicle</a>
                    </li>
                    {%if user.is_superuser%}   
                    <li>
                            <a href="{% url "create_user" %}">Add Employee</a>
                    </li>

                    <li>
                            <a href="{% url "pending_list" %}">Pending Vehicles</a>
                    </li>
                    {%endif%}
                    <li>
                            <a href="{% url "my_list" %}">My Vehicles</a>
                    </li>

                    <li>
                            <a href="{% url "vehicle_list" %}">All Vehicles</a>
                    </li>
                    <li>
                            <a href="{% url "sold_list" %}">Sold Vehicles/Archive</a>
                    </li>
                    <li>
                            <a href="{% url "model_list" %}">Model List</a>
                    </li>
                    <li>
                            <a href="{% url "make_list" %}">Make List</a>
                    </li>
                     
                </ul>
             </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    {%block search%}
                            <form method='GET' action=''>
                                <input type="text" name='q' placeholder='Search cars' value='{{request.GET.q}}' >
                                <input type="submit" value='Search' />
                            </form>
                    {%endblock search%}  
                    	<div id="content">
        			        {% block content %} {% endblock content %} 
                            <div class="pagination">
                                    <span class="step-links">
                                        {% if object_list.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ object_list.previous_page_number }}">previous</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                                        </span>
                                
                                        {% if object_list.has_next %}
                                            <a href="?page={{ object_list.next_page_number }}">next</a>
                                            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                            </div>
    		            </div>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
              
                 <!-- /. ROW  -->           
             </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">
        <div class="row">
            <div class="col-lg-12" >
                &copy;  all rights reserved Borkata
            </div>
        </div>
    </div>
          
</body>

