{%extends "base_back_office.html" %}

{%block content%}

    {%if form.name and form.make%}
        <h1>Edit/Create Model </h1>
    {%elif form.name%}
        <h1>Edit/Create Make </h1>
    {%elif form.price%}
        <h1>Edit/Create Sell Vehicle </h1>
    {%elif form.role%}
        <h1>Edit/Create Employee</h1>
    {%else%}
        <h1>Edit/Create Rental Vehicle </h1>
    {%endif%}
   
{% comment %} {% if form.year.errors %}
{# NOTE: must use id_NAME for jquery.validation to overwrite error label #}
<label class='error' for='id_{{ form.year.name }}' generated="true">{{ field.errors|join:". " }}</label>
{% endif %}  {% endcomment %}

    <form id="create" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }} 

        <input type="submit" value="Submit" />
    </form>
   
{%endblock content%}

{%block search%}{%endblock search%}
{%block pagination%}{%endblock pagination%}

{% comment %} 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
        FORM_RULES = {
            '{{ form.year.name }}': 'required'
            
        };
        FORM_MESSAGES = {
            '{{ form.year.name }}': 'This field is required'
        }; 
        $(document).ready(function() {
            $('#create').validate({
                rules: FORM_RULES,
                messages: FORM_MESSAGES
            });
        });
</script>  {% endcomment %}