{%extends "base.html"%}
<h1>Vehicle Details</h1>

{%block content%}
    <div class="row">
                    
        <div class="col-lg-6 col-md-6">
            <h5>Car Details</h5>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Reg Number</th>
                        <th>Engine Type</th>
                        <th>Transmission</th>
                        <th>Condition</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>Added at</th>
                        <th>Description</th>

                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                        <td>{{ object.make }}</td>
                        <td>{{ object.model }}</td>
                        <td>{{ object.get_v_type_display }}</td>
                        <td>{{ object.reg_number }}</td>
                        <td>{{ object.get_engine_type_display }}</td>
                        <td>{{ object.get_transmission_display }}</td>
                        <td>{{ object.get_condition_display }}</td>
                        <td>{{ object.year }}</td>
                        <td>{{ object.price }}</td>
                        <td>{{ object.created_at }}</td>
                        <td>{{ object.description }}</td>
                        <img src="{{object.image.url}}" width='240' >
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content%}

{%block pagination%}{%endblock pagination%}
{%block search%}{%endblock search%}