{%extends "base_back_office.html" %} 

{%block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>Vehicle </h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Reg Number</th>
                        <th>Engine Type</th>
                        <th>Transmission</th>
                        <th>Condition</th>
                        <th>Year</th>
                        <th>Added at</th>
                        <th>Description</th>
                        {%if object.price%}
                        <th>Price</th>
                        <th>Status</th>
                        {%else%}
                        <th>Status</th>
                        <th>Rental price per day</th>
                        <th>Rented at</th>
                        <th>Rented until</th>
                        {%endif%}
                        
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr>
                        <td>{{ object.make }}</td>
                        <td>{{ object.model }}</td>
                        <td>{{ object.get_v_type_display }}</td>
                        <td>{{ object.reg_number }}</td>
                        <td>{{ object.get_engine_type_display }}</td>
                        <td>{{ object.get_transmission_display }}</td>
                        <td>{{ object.get_condition_display }}</td>
                        <td>{{ object.year }}</td>
                        <td>{{ object.created_at }}</td>
                        <td>{{ object.description }}</td>
                        {%if object.price%}
                        <td>{{ object.price }}</td>
                        <td>{{ object.get_sell_status_display }}</td>
                        {%else%}
                        <td>{{ object.rental_status }}</td>
                        <td>{{ object.rental_price_per_day }}</td>
                        <td>{{ object.rented_at }}</td>
                        <td>{{ object.rented_until }}</td>
                       {%endif%}
                        <img src="{{object.image.url}}" width='240' height="240" >
                            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /# column -->

<!-- /# card -->
</div>
<!-- /# column -->
</div>
<!-- /# row -->

{%endblock content%}
{%block pagination%}{%endblock pagination%}
{%block search%}{%endblock search%}