<h1>Vehicles</h1>


<!-- <form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form> -->

{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Logout</a></p>

{% endif %}

<form method='GET' action=''>
<input type="text" name='q' placeholder='Search cars' value='{{request.GET.q}}' >
<input type="submit" value='Search' />
</form>

<table border="1">
<thead>
    <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Type</th>
    <th>Reg Number</th>
    </tr>
</thead>
<tbody>
    {% for vehicle in object_list %}
       
        
        <tr>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.get_v_type_display }}</td>
        <td>{{ vehicle.reg_number }}</td>
        
        <td><a href="{% url "detail" vehicle.id %}">view</a></td>
        <td><a href="{% url "edit" vehicle.id %}">edit</a></td>
        <td><a href="{% url "delete" vehicle.id %}">delete</a></td>
        <td><a href="{% url "sell_vehicle" vehicle.id %}">sell</a></td>
        
    {% endfor %}
</tbody>
</table>

<a href="{% url "create_make" %}">create Make</a>
<a href="{% url "create_vehicle" %}">create Vehicle</a>
<a href="{% url "create_model" %}">create Model</a>
<a href="{% url "create_user" %}">create user</a>
<a href="{% url "my_list" %}">my vehicles</a>
<a href="{% url "vehicle_list" %}">all vehicles</a>
<a href="{% url "sold_list" %}">sold vehicles</a>