{%extends "base_back_office.html" %} {%block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>Vehicles </h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {%if not object_list%} {{errorMsg}} {%else%}
                    <table class="table">
                    <thead>
                        <tr class="success">
                            <th>Makes</th>
                        </tr>
                        </thead>
                            <tbody>
                                {% for obj in object_list %}
                                    <tr>
                                        <td>{{ obj.name }}</td>
                                        {%if user.is_superuser%}
                                            <td><a href="{% url "edit_make" obj.id %}">edit</a></td>
                                            <td><a href="{% url "delete_make" obj.id %}">delete</a></td>
                                        {%endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /# column -->
    
        <!-- /# card -->
    </div>
    <!-- /# column -->
    </div>
    <!-- /# row -->
    {%endif%}
    {%endblock content%}
        