{%extends "base.html" %}

{%block content%}    
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h5>Users</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="success"> 
                                <th>Name</th>
                                <th>Action</th>
                                <th>Object</th>
                                <th>Date</th>
                               
                            </tr>
                        </thead>
                            <tbody>
                                {%if not object_list%}
                                    {{errorMsg}}
                                {%else%}
                                {% for obj in object_list %}
                                    <tr class="warning">
                                    <td>{{ obj.user.username }}</td>
                                    <td>{{ obj.action }}</td>
                                    <td>{{ obj.model }}</td>
                                    <td>{{ obj.date }}</td>
                                    {% comment %} <td><a href="{% url "delete_user" user.id %}">Fire employee</a></td> {% endcomment %}
                                    
                                      
                                {% endfor %}
                                {%endif%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
{%endblock content%}
