{%extends "base_back_office.html" %} {%block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-title">
                <h4>Vehicles </h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {%if not object_list%} {{errorMsg}} {%else%}
                    <table class="table">
                            <thead>
                                    <tr> 
                                        <th>Name</th>
                                        <th>Action</th>
                                        <th>Object</th>
                                        <th>Date</th>
                                       
                                    </tr>
                                </thead>
                                    <tbody>
                                        {%if not object_list%}
                                            {{errorMsg}}
                                        {%else%}
                                        {% for obj in object_list %}
                                            <tr class="warning">
                                            <td>{{ obj.user.username }}</td>
                                            <td>{{ obj.action }}</td>
                                            <td>{{ obj.object_type }}</td>
                                            <td>{{ obj.date }}</td>
                                            {% comment %} <td><a href="{% url "delete_user" user.id %}">Fire employee</a></td> {% endcomment %}
                                            
                                              
                                        {% endfor %}
                                        {%endif%}
                                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->

    <!-- /# card -->
</div>
<!-- /# column -->
</div>
<!-- /# row -->
{%endif%}
{%endblock content%}