{%extends "base_back_office.html" %}
{%block search%}
                    {% comment %} <form method='GET' action=''>
                        <input type="text" name='q' placeholder='Search' value='{{request.GET.q}}' >
                        <input type="submit" value='Search' />
                    </form> {% endcomment %}
                    {% csrf_token %}
                    <input type="text" id="search_sell" name="search" placeholder='Search...'/>
                    
{%endblock search%}


{%block content%}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-title">
                    <h4>Vehicles </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive" id="search-results-sell">
                        {%if not object_list%}
                            {{errorMsg}}
                        {%else%}
                        <table class="table">
                        <thead>
                            <tr> 
                                <th>Make</th>
                                <th>Model</th>
                                <th>Type</th>
                                {% comment %} <th><a href="{% url "order_type"%}">Type</a></th> {% endcomment %}
                                <th>Reg Number</th>
                                <th>Price</th>
                                {% comment %} <th><a href="{% url "order_price"%}">Price</a></th> {% endcomment %}
                                <th>Status</th>
                                <th>From user</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle in object_list %}
                                <tr class="warning">
                                <td>{{ vehicle.make }}</td>
                                <td>{{ vehicle.model }}</td>
                                <td>{{ vehicle.get_v_type_display }}</td>
                                <td>{{ vehicle.reg_number }}</td>
                                <td>{{ vehicle.price }}</td>
                                <td><span class="badge badge-danger">{{ vehicle.get_sell_status_display }}</span></td>
                                <td>{{ vehicle.user.username }}</td>
                                <td><a href="{% url "detail_sell" vehicle.id %}">view</a></td>
                                {%if user.is_superuser%}
                                    <td><a href="{% url "edit_sell" vehicle.id %}">edit</a></td>
                                    <td>
                                        <a href="#" id="btn_del-{{vehicle.id}}" onclick="del({{vehicle.id}})">delete</a>
                                            <!-- The Modal -->
                                        <div id="myModal_del-{{vehicle.id}}" class="modal">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                        <span class="close_del-{{vehicle.id}}">&times;</span>
                                        <form action = 'delete_sell/{{vehicle.id}}'method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}
                                            Are you sure you want to delete "{{ vehicle }}" ?
                                            <input type="submit" value="Submit" />
                                        </form>
                                        </div>
                                        </div>
                                    </td>
                                    {% comment %} <td><a href="{% url "delete_sell" vehicle.id %}">delete</a></td> {% endcomment %}
                                        {%if vehicle.sell_status == 'S' or vehicle.sell_status == 'P'%}
                                            <td><a href="{% url "retrieve_vehicle" vehicle.id %}">retrieve</a></td>
                                        {%endif%}    
                                {%endif%}
                                        {%if vehicle.sell_status == 'A' or vehicle.sell_status == 'P' %}
                                            <td><a href="{% url "sell_vehicle" vehicle.id %}">sell</a></td>
                                        {%endif%}
                            {% endfor %}
                                    {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!-- /# column -->
<!-- /# card -->
</div>
<!-- /# column -->
</div>
<!-- /# row -->
{%endblock content%}